/* ==========================================================================
   #HEADER
   ========================================================================== */

.c-header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	transform: translateY(-100%);

	&__inner {
		padding: rem(40);
	}
}
