/* ==========================================================================
   #NAVIGATION
   ========================================================================== */

.c-nav {
	&__item {
		margin: 0 rem(33) 0 0;
		font-size: rem(21);
		line-height: 1;
		letter-spacing: rem(-1);
		flex-shrink: 0;

		&--divider {
			flex: 1;
		}

		&:last-of-type {
			margin-right: 0;
		}

		a {
			line-height: 1;
			color: $color-black;
		}
	}
}
