.c-section-big-title {
	&--abs {
		position: absolute !important;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: transparent;
	}

	&__inner {
		min-height: 100vh;
		display: flex;
	}

	&__title-container {
		position: relative;
	}

	&__title {
		margin: 0;
		font-size: rem(100);
		line-height: 0.78;
		letter-spacing: rem(-5);
		color: $color-black;

		@include bp(medium) {
			font-size: rem(120);
			letter-spacing: rem(-10);
		}

		@include bp(large) {
			font-size: rem(150);
			letter-spacing: rem(-15);
		}

		@include bp(full) {
			font-size: rem(200);
			letter-spacing: rem(-20);
		}

		@include bp(wide) {
			font-size: rem(470);
			letter-spacing: rem(-27.43);
		}

		span {
			display: inline-block;
		}
	}

	&__subtitle {
		margin-top: rem(70);
		overflow: hidden;

		span {
			font-size: rem(37);
			letter-spacing: rem(4.3);
			transform: translateY(8rem);
		}

		p {
			margin: 0;
			font-size: rem(52);
			letter-spacing: rem(0.98);
			transform: translateY(6rem);
		}

		span,
		p {
			display: block;
		}

		&.animated {
			span,
			p {
				animation: simpleUp 500ms linear forwards;
			}
		}
	}
}

.c-section-big-title__image {
	$image-width: 360px;
	position: absolute;
	width: rem($image-width);
	height: rem(269);
	box-shadow: rgba(0, 0, 0, 0.1) 0 0 rem(20) rem(5);
	transform: translateY(-100%);

	@include bp-down(wide) {
		transform: scale(0.5, 0.5);
	}

	&--1 {
		top: calc(50% - 90px);
		left: 0;
	}

	&--2 {
		top: rem(160);
		left: calc(50% - (#{$image-width} / 2));
	}

	&--3 {
		right: 0;
		top: calc(100vh - 260px);
	}
}
