/* ==========================================================================
   #INTRO SECTION
   ========================================================================== */

.c-section-intro {
	color: $color-white;
	background-color: $color-black;

	&__title {
		font-size: rem(94);
		line-height: 0.78;
		letter-spacing: rem(-5.49);
		margin-bottom: rem(25);

		&:first-of-type {
			margin-bottom: 0;
		}

		span {
			display: inline-block;
		}
	}

	&__subtitle {
		margin-bottom: 0;
		font-size: rem(31.2);
		letter-spacing: rem(-0.59);
	}

	&__counter {
		margin-bottom: 0;
		font-size: rem(22.2);
		letter-spacing: rem(2.58);
	}

	&__overlay {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background: $color-white;
		max-height: 0;
		height: 100%;
	}
}

.u-animate-intro-overlay {
	max-height: 100%;
	@include transition(max-height, 800ms, 0.5s, easeInOutQuint);
}

.c-intro-inner {
	max-width: rem(320);
}
