// HACK JOB, NO TIME LEFT FOR PRETTY CODE

.c-section-details {
	&__part {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: rem(40) rem(80);

		@include bp-down(large) {
			padding: rem(20);
		}

		&:last-of-type {
			padding-bottom: rem(80);
		}

		img {
			width: 100%;
		}
	}

	&__left,
	&__right {
		flex-basis: calc(50% - 40px);

		@include bp-down(large) {
			flex-basis: 100%;
		}
	}

	p {
		font-size: rem(25);
		font-weight: 300;
		line-height: 1.4;
		letter-spacing: rem(-0.47);
	}

	.introduction,
	.pagination span {
		display: inline-block;
		font-size: rem(15);
		line-height: 2.07;
		letter-spacing: rem(-0.28);

		@include bp(large) {
			transform: rotate(-90deg);
		}
	}

	.introduction {
		@include bp(large) {
			margin-left: 16%;
		}
	}

	.highlighted-paragraph {
		font-size: rem(45);
		font-weight: 300;
		line-height: 1.18;
		letter-spacing: rem(0.85);

		@include bp(large) {
			padding-right: 8%;
		}
	}

	.pagination {
		padding-top: rem(120);
		padding-bottom: rem(55);
	}

	.title {
		padding-top: rem(80);
		padding-bottom: rem(40);
		font-size: rem(76);
		line-height: 0.92;
		letter-spacing: rem(-2.34);
	}

	.quote {
		padding-left: rem(10);
		border-left: solid rem(1) $color-black;

		@include bp(large) {
			width: 37%;
		}

		p {
			font-size: rem(12);
			line-height: 1.42;
			letter-spacing: rem(-0.23);
		}
	}

	.description {
		@include bp(large) {
			width: 59%;
		}
	}

	.btn-arrow-circle {
		cursor: pointer;

		@include bp(large) {
			margin-top: rem(-40);
		}

		span {
			position: relative;
			display: inline-block;
			width: rem(222);
			height: rem(222);
			border: solid rem(1) $color-black;
			border-radius: 50%;

			@include bp-down(large) {
				width: rem(100);
				height: rem(100);
			}
		}

		img {
			width: rem(40);
			position: absolute;
			top: calc(50% - 20px);
			left: calc(50% - 20px);
		}
	}
}
