{% extends "layouts/base.twig" %}
{% set pageName = 'LaboratiGinori' %}

{% block content %}
	{% include 'components/section-intro.twig' %}
	{% include 'components/section-big-title.twig' %}
	{% include 'components/section-details.twig' %}
{% endblock %}


