/* ==========================================================================
   #LAYOUT
   ========================================================================== */

/* Simple flexbox layout system */

.o-layout {
	display: block;

	@include bp(medium) {
		display: flex;
	}

	&--centered {
		align-items: center;
		justify-content: center;
	}
}

.o-layout__item {
	flex: 1;

	&--full {
		flex: 1 0 100%;
		flex-basis: 100%;
	}
}

.o-layout--guttered {
	justify-content: space-between;

	> .o-layout__item {
		flex: none;
	}
}

.o-layout--2 {
	> .o-layout__item {
		@include bp(medium) {
			width: 49%;
		}
	}
}

.o-layout--3 {
	> .o-layout__item {
		@include bp(medium) {
			width: 32%;
		}
	}
}

.o-layout--4 {
	> .o-layout__item {
		@include bp(medium) {
			width: 24%;
		}
	}
}
