/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

.o-wrapper {
	@include clearfix();
	margin: 0 auto;
	max-width: rem(1920);
	width: 100%;

	&__inner {
		width: 100%;
		padding: 0 rem(80);
	}
}
