<nav class="c-nav u-text-transform--uppercase">
	<ul class="c-flex-list">
		<li class="c-nav__item"><a href="#">about</a></li>
		<li class="c-nav__item"><a href="#">products</a></li>
		<li class="c-nav__item c-nav__item--divider"></li>
		<li class="c-nav__item"><a href="#">trade</a></li>
		<li class="c-nav__item"><a href="#">contact</a></li>
		<li class="c-nav__item"><a href="#">sign in</a></li>
	</ul>
</nav>
