<section class="c-section c-section-details">
	<div class="c-section-details__part">
		<div class="c-section-details__left">
			<span class="introduction">Introduction</span>
		</div>
		<div class="c-section-details__right">
			<p class="u-text-transform--uppercase highlighted-paragraph">
				Crete was created by to bring excellence in furniture design and creat something new, simply different and very own, very characteristic.
			</p>
		</div>
	</div>
	<div class="c-section-details__part">
		<div class="c-section-details__left">
			<img src="{{ assetPath('images/image-4.jpg') }}" srcset="{{ assetPath('images/image-4@2x.jpg') }} 2x, {{ assetPath('images/image-4@3x.jpg') }} 3x" alt="very nice picture">
		</div>
		<div class="c-section-details__right">
			<div class="pagination u-text-right">
				<span>01 / 04</span>
			</div>
			<div class="quote">
				<p>An elegant floor lamp with a sophisticated and contemporary design.</p>
			</div>
			<h3 class="title">Turbine Lamp</h3>
			<p class="description">Contains several components that expand from its center containing specific lamps and carefully positioned to be able to project light through the salience of the part.</p>
			<div class="btn-arrow-circle u-text-right">
				{# 😂 #}
				<span>
					<img src="{{ assetPath('images/icon-right-arrow.svg') }}" alt="arrow btn">
				</span>
			</div>
		</div>
	</div>
</section>
