<section class="c-section c-section-big-title c-section-big-title--abs">
	<div class="c-section-big-title__inner o-wrapper__inner u-text-center o-layout o-layout--centered">
		<div class="c-section-big-title__title-container">
	  	<h2 class="c-section-big-title__title u-hidden-visibility">Laborati</h2>
	  	<h2 class="c-section-big-title__title u-hidden-visibility">Ginori</h2>
	  	<div class="c-section-big-title__subtitle u-text-transform--uppercase">
	  		<span>est 2018</span>
	  		<p>unique luxury</p>
	  	</div>

	  	{#
	  	<img src="{{ assetPath('images/image-1.jpg') }}" srcset="{{ assetPath('images/image-1@2x.jpg') }} 2x, {{ assetPath('images/image-1@3x.jpg') }} 3x" class="c-section-big-title__image c-section-big-title__image--1">
	  	<img src="{{ assetPath('images/image-2.jpg') }}" srcset="{{ assetPath('images/image-2@2x.jpg') }} 2x, {{ assetPath('images/image-2@3x.jpg') }} 3x" class="c-section-big-title__image c-section-big-title__image--2">
	  	<img src="{{ assetPath('images/image-3.jpg') }}" srcset="{{ assetPath('images/image-3@2x.jpg') }} 2x, {{ assetPath('images/image-3@3x.jpg') }} 3x" class="c-section-big-title__image c-section-big-title__image--3">
	  	#}
  	</div>
	</div>
</section>
