<div class="c-section c-section-intro o-layout o-layout--centered">
	<div class="c-section-intro-inner u-text-center">
  	<h3 class="c-section-intro__title">Laborati</h3>
  	<h3 class="c-section-intro__title">Ginori</h3>
  	<p class="c-section-intro__subtitle c-section-intro__counter u-text-transform--uppercase u-hidden-visibility js-animation-counter" data-count-from="1968" data-count-to="2018">est <span>1968</span></p>
  	<p class="c-section-intro__subtitle u-text-transform--uppercase u-hidden-visibility">unique luxury</p>
	</div>
	<div class="c-section-intro__overlay u-hidden-visibility"></div>
</div>
