///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

$animation-classes: fade-in-down, fade-in-up, slide-in-up, slide-out-up, simple-up;
$transition-types-map:(
	'easeInOutQuint': cubic-bezier(0.86, 0, 0.07, 1)
);
$browser-context: 16px;

/* Fonts
   ========================================================================== */

$font-sans-serif: 'PlainLight', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
	'Roboto', 'Helvetica Neue', 'Arial', sans-serif !default;
$font-sans-serif-bold: 'PlainBold', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
	'Roboto', 'Helvetica Neue', 'Arial', sans-serif !default;

/* Breakpoints
   ========================================================================== */

$breakpoints: (
	small: 480px,
	medium: 768px,
	large: 1024px,
	xlarge: 1280px,
	full: 1400px,
	wide: 1720px
);


/* Colors
   ========================================================================== */

// Colors shouldn't be used directly but reassigned
$color-white: #fff;
$color-black: #000;
$color-light-grey: #999;
$color-medium-grey: #666;

// Text
$color-bg: $color-white;
$color-text: $color-black;

// Links
$color-link: $color-medium-grey;
$color-hover: $color-light-grey;
