@mixin animate-create-classes($classes) {
	@each $class in $classes {
		.u-animate-#{$class} {
			animation-name: camelize($class);
		}
	}
}

@mixin animate-delay($time, $type: transition) {
	@if $type == 'transition' {
		transition-delay: $time + s;
	}
	@else if $type == 'animation' {
		animation-delay: $time + s;
	}
}

@mixin transition($property: all, $duration: 0.2s, $delay: 0s, $type: 'easeInOutQuint') {
	transition: $property $duration get-transition-type($type) $delay;
}

@function get-transition-type($name) {
	@return map-get($transition-types-map, $name);
}
