///* ========================================================================
//   #FONTS
//   ======================================================================== */

/*
* convert pixels to rems
 */
@function rem($pixels, $context: $browser-context) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}

	@if (unitless($context)) {
		$context: $context * 1px;
	}

	@return $pixels / $context * 1rem;
}

/*
* get line-height
 */
@function lh($font-size, $line-height) {
	@return $line-height / $font-size;
}
